#App {
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  gap: 24px;
  background: var(--theme-overlay);
  backdrop-filter: blur(10px);
  color: var(--theme-text);
  z-index: 10;
}

.header__btn-search {
  margin-left: auto;
}

.header__menu {
  display: none;
}

.header__search {
  display: none;
}

.header__actions {
  display: none;
  color: var(--theme-em);
}

.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 24px;
  background-color: var(--theme-overlay);
  border-top: 1px solid var(--theme-border);
  backdrop-filter: blur(10px);
  z-index: 10;
  font-size: var(--text-xs);
}

.sidebar__navlist {
  display: flex;
  justify-content: space-between;
}

.sidebar__navlist-link {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: var(--theme-em);
}

.sidebar__navlist-link:hover {
  filter: brightness(0.75);
}

.sidebar__navlist-link:active,
.sidebar__navlist-link_active {
  color: var(--theme-primary);
}

.sidebar-extra,
.content-extra {
  display: none;
}

.sidebar__navlist-link_active .sidebar__navlist-icon {
  opacity: 1;
}

.sidebar__navlist-icon {
  opacity: 0.75;
}

.sidebar__settings {
  display: none;
  color: var(--theme-em);
}

.sidebar-section {
  margin-top: 60px;
}

.content {
  padding: 0 16px;
  margin-top: 64px;
  margin-bottom: 72px;
  overflow: hidden;
}

.video-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home-section {
  margin: 50px 0;
}

.home-section:first-child {
  margin-top: 0;
}

.home-section__title {
  margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
  .content {
    margin-top: 50px;
    margin-bottom: auto;
    pading-bottom: 10px;
  }

  .header {
    gap: 28px;
  }

  .header__menu {
    display: initial;
  }

  .header__search {
    display: flex;
    flex: 1;
    max-width: 830px;
  }

  .header__btn-search {
    display: none;
  }

  .header__actions {
    display: flex;
    margin-left: auto;
    gap: 50px;
  }

  .sidebar {
    left: 0;
    top: 68px;
    padding: 30px;
    border: 0;
    max-width: 250px;
    font-size: var(--text-md);
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .sidebar:hover {
    scrollbar-color: initial;
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }

  .sidebar__navlist {
    width: 100%;
    flex-direction: column;
    gap: 28px;
  }

  .sidebar__navlist-link {
    flex-direction: row;
    gap: 14px;
  }

  .sidebar__navlist-spacer {
    margin-top: 32px;
  }

  .content {
    padding-top: 20px;
    padding-right: 0;
    margin-left: 250px;
  }

  .sidebar-extra,
  .content-extra {
    display: block;
  }

  .video-list {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    padding: 20px 0;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .video-list:hover {
    scrollbar-width: thin;
    scrollbar-color: initial;
  }

  .video-list__item {
    flex-shrink: 0;
    scroll-snap-align: center;
  }

  .home-section__title {
    margin-bottom: 0;
  }

  .sidebar__settings {
    display: block;
    margin-top: auto;
  }

  .sidebar__settings button {
    margin-top: 64px;
  }

  .sidebar__settings span {
    margin-left: 12px;
  }
}
