.overflow-auto {
  overflow: auto;
}

.-translate-x-1\/2 {
  transform: translateX(-50%);
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.col-start-2 {
  grid-column-start: 2;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.left-1\/2 {
  left: 50%;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

.right-10 {
  right: 10px;
}

.bottom-10 {
  bottom: 10px;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 0 0%;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.self-start {
  align-self: flex-start;
}

.shrink-0 {
  flex-shrink: 0;
}

.ml-0 {
  margin-left: 0;
}

.ml-auto {
  margin-left: auto;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.-mt-35 {
  margin-top: -35px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-10 {
  margin-top: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pl-16 {
  padding-left: 16px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.sm\:hidden {
  display: none;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.text-10 {
  font-size: 10px;
  line-height: 1;
}

.text-16 {
  font-size: 16px;
  line-height: 1;
}

.text-20 {
  font-size: 20px;
  line-height: 1;
}

.color-em {
  color: var(--theme-em);
}

.color-primary {
  color: var(--theme-primary);
}

.color-text-light {
  color: var(--theme-text-light);
}

.w-full {
  width: 100%;
}

.w-1\/12 {
  width: 8.333333%;
}

.w-11\/12 {
  width: 91.666667%;
}

.w-1\/2 {
  width: 50%;
}

.max-w-prose {
  max-width: 65ch;
}

.max-w-540 {
  max-width: 540px;
}

.max-w-960 {
  max-width: 960px;
}

.max-w-1600 {
  max-width: 1600px;
}

.border-tb {
  border-top: 1px solid var(--theme-border);
  border-bottom: 1px solid var(--theme-border);
}

.uppercase {
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .lg\:rounded {
    border-radius: 10px;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:gap-10 {
    gap: 10px;
  }

  .lg\:gap-15 {
    gap: 15px;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:block {
    display: block;
  }

  .lg\:ml-50 {
    margin-left: 50px;
  }

  .lg\:mt-0 {
    margin-top: 0;
  }

  .lg\:my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex-col {
    flex-direction: column;
  }

  .lg\:p-0 {
    padding: 0;
  }

  .lg\:my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .lg\:items-end {
    align-items: flex-end;
  }

  .lg\:text-36 {
    font-size: 36px;
    line-height: 1;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }
}
